 
.header{
     background-color:aqua;
     justify-content: space-between;
            display:flex;
            
 }
 .foot{
     background-color:antiquewhite;

 }
 .head{
    background-color:yellowgreen;
 }
*{
   margin:0px;
}
 .menu{
    display:flex;
 }
 .menu li{
   list-style-type:none;
   margin-right:30px;
 }
 .menu li a{
   text-decoration: none;
   color:black;
 }
 #home{
   display:flex;
   
 }
 .para{
   background-color: beige;
   font-size: large;
 }
 .box{
   background-color: aqua;
   margin:10px;
   padding:5px;
   border:2px skyblue solid;
   border-radius: 20px;
 }
 #services{
   display:flex;
   gap:150px;
 }